
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background: url("../img/berg4.jpeg") center/cover no-repeat;
    height: 100vh;
    width: 100vw;
}

body h3{
    font-family: avenir;
    font-size: 2.6vmax;
    padding: 4vh;
    margin: 2vh;
    background: rgb(129, 91, 129, 3.5);
    border-radius: 5px;
}

